name: CI
on:
  push:
    branches: [main, master]
  pull_request:
jobs:
  test:
    name: ${{ matrix.package }} - Julia ${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - LLMProviders
          - LLMOAuth
          - Agentif
          - LLMTools
          - Vo
        version:
          - '1'
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - name: Instantiate and test
        run: |
          julia --project=${{ matrix.package }} -e '
            using Pkg
            Pkg.instantiate()
            Pkg.test()
          '
